body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #262626;
}

.container__header {
  color: #125688;
  text-align: center;
  font-family: "Billabong", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  letter-spacing: -1px;
}

i {
  cursor: pointer;
}

/*Grid*/

.grid .col-sm-4 {
  margin-bottom: 30px;
  cursor: pointer;
}

.grid-item {
  position: relative;
}

.grid-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item__info {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.grid-item:hover .grid-item__info {
  display: block;
}

.fa-comment {
  transform: rotateY(180deg);
}

/*Loader*/

.spinner-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/*Modal*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.fa-chevron-left {
  position: absolute;
  top: 45%;
  left: 10%;
  color: #cbcbcb;
}

.fa-chevron-right {
  position: absolute;
  top: 45%;
  right: 10%;
  color: #cbcbcb;
}

.post-modal {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #262626;
  width: 815px;
}

.post-modal .col-sm-7 {
  position: relative;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.post-modal img {
  width: 100%;
  object-fit: cover;
}

/*Likes animation*/

.heart {
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(-50%) translateY(-50%) scale(5);
  display: block;
  background: url("./assets/heart.png") center no-repeat;
  background-size: contain;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 52%;
  pointer-events: none;
}

.heart.like-enter {
  transition: all 0.2s;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.heart.like-enter.like-enter-active {
  transform: translate(-50%, -50%) scale(5);
}

/*Comments form*/

.content {
  background: #fff;
  height: 594px;
}

form {
  position: relative;
}

form input {
  border: 0;
  border-bottom: 1px solid #808080;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
}

.form-control:focus {
  border-color: #ced4da;
}

form button {
  border: 1px solid #808080;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  margin-right: 1px;
}

form button:focus {
  outline: none;
}

form button:hover {
  background-color: #7ac27a;
}

/*Emoji picker*/

.emoji-mart.emoji-mart-light {
  position: absolute;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.emoji-mart-emoji:hover {
  background-color: transparent;
}

.emoji-mart-search {
  display: none;
}

/*Comments*/

.comments {
  height: 375px;
  word-wrap: break-word;
  overflow-y: scroll;
}

.comments::-webkit-scrollbar {
  display: none;
}

.comment {
  border-bottom: 1px solid gainsboro;
  font-size: 0.8rem;
}

.comment:hover .remove-comment {
  opacity: 1;
}

.comment b {
  color: #125688;
}

.comment .timestamp {
  color: #777;
  font-size: 0.6rem;
}

.remove-comment {
  cursor: pointer;
  background: none;
  border: 0;
  line-height: 0;
  opacity: 0;
  outline: none;
  font-size: 1.3rem;
}

.remove-comment:focus {
  outline: none;
}

.remove-comment:hover {
  color: #f00;
}

/*Comments animation*/

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

/*Like button*/

.fa-heart {
  color: #e2264d;
}

.like-btn .fa-heart {
  font-size: 1.1rem;
}

/*Post view*/

.postview-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
}
